@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 17 41% 97%;
    --background-alt: 25 75% 94%;
    --foreground: 0 0% 10%;

    --card: 17 41% 97%;
    --card-foreground: 0 0% 10%;

    --popover: 17 41% 97%;
    --popover-foreground: 0 0% 10%;

    --primary: 173 66% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 224 71% 75%;
    --secondary-foreground: 0 0% 10%;

    --muted: 25 75% 94%;
    --muted-foreground: 0 0% 40%;

    --accent: 313 100% 78%;
    --accent-foreground: 0 0% 10%;

    --highlight: 45 92% 62%;
    --highlight-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 173 66% 38%;

    --radius: 0rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 10%;
    --background-alt: 0 0% 15%;
    --foreground: 17 41% 97%;

    --card: 0 0% 10%;
    --card-foreground: 17 41% 97%;

    --popover: 0 0% 10%;
    --popover-foreground: 17 41% 97%;

    --primary: 173 66% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 224 71% 75%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;

    --accent: 313 100% 78%;
    --accent-foreground: 0 0% 10%;

    --highlight: 45 92% 62%;
    --highlight-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 173 66% 38%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 17 41% 97%;
    --sidebar-primary: 173 66% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 17 41% 97%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 173 66% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
